.image_carousel {
	margin: 0;
	padding: 0;
}
.image_carousel__item::marker {
	display: none;
	font-size: 0;
	opacity: 0;
	line-height: 0;
}
.image_carousel__item {
	padding: 0px 5px 10px;
}
.image_carousel__item {
  list-style: none;
  display: inline-block;
  vertical-align: middle
}